body {
    background-color: #1f1c2b;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.portbtn {
    height: 50px;
    width: 100%;
    display: inline-flex;
    position: relative;
    margin: 10px 0 auto;
    min-width: 400px;
}

.infoBox {
    color: white;
    border-radius: 0 0 5px 5px;
    text-align: center;
    background-color: #C94362;
    position: relative;
    width: 460px;
    font-size: 15px;
}